html {
	font-family: Helvetica;
	text-align: center;
}

h1, h2, h3 {
	font-weight: bold;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 23px;
}

.smallfont {
	font-size: 23px;
}

.smallerfont {
	font-size: 11px;
}

p {
	font-size: 14px;
}

a {
	font-size: 18px;
	color: white;
}

#footer a {
	font-size: 11px;
	color: white;
}

.header {
	background-image: url("../images/flatiron-building.png");
}

.white {
	color: white;
}

#footer {
	font-size: 11px;
	background-color: dimgray;
	text-align: left;
}